$accent-color: #5a0d67;
$main-color: #21062a;
$grey-color: #c4c4c4;
$black-color: #2C2B2B;

.mainBtn {
  background: $accent-color;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition: all 0.3s linear;
  &:hover {
    color: $accent-color;
    background: #fff;
    border: 1px solid #c4c4c4;
  }
}
