@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-image: url("../images/header-background.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 46px 0;
  }
  &__phone {
    font-size: 36px;
    line-height: 53px;
    color: #fff;
  }
  &__main {
    position: absolute;
  }
  &__heading {
    font-size: 72px;
    line-height: 97px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
  }
  &__subHeading {
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
  }
  &__description {
    margin: 30px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }
  &__social {
    width: 250px;
    margin-top: 74px;
  }
  &__socialInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 120px;
  }
  &__autoImg {
    position: relative;
    top: -133px;
    left: 380px;
  }
}

.main {
  &__inner {
    margin-top: 300px;
  }
}

.service {
  color: $black-color;
  &__content {
    display: flex;
    margin-bottom: 50px;
    align-items: flex-end;
  }
  &__description {
    flex: 50%;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }
  &__nav {
    flex: 50%;
  }
  &__descriptionHeading {
    color: $accent-color;
    display: inline-block;
    margin-top: 50px;
    &:last-of-type {
      margin-top: 70px;
    }
  }
  &__descriptionText {
    margin-top: 12px;
    max-width: 504px;
  }
  &__navItem {
    border: 1px solid $grey-color;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    width: 450px;
    max-width: 500px;
    margin-bottom: 12px;
    transition: all 0.1s linear;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      width: 500px;
      border: 2px solid $accent-color;
    }
    &:hover .service__navNumber {
      color: $accent-color;
    }
    &:hover .service__navHeading {
      color: $accent-color;
    }
    &:hover .service__navDescription {
      color: #000;
    }
  }
  &__navNumber {
    display: inline-block;
    width: 37px;
    height: 37px;
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    color: $grey-color;
    transform: rotate(-90deg);
    margin-right: 45px;
  }
  &__navHeading {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
  }
  &__navDescription {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
  }
  &__aroundBtnArea {
    display: flex;
    align-items: center;
    position: relative;
    top: -35px;
    left: 245px;
  }
  &__btnLine {
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: $grey-color;
  }
  &__btnClickLabel {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: $grey-color;
    margin-left: 10px;
  }
}

.stats {
  &__inner {
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: space-between;
  }
  &__headingContainer {
    margin-left: 189px;
  }
  &__textWrapper {
    background-color: $main-color;
    color: #fff;
    max-width: 785px;
    padding: 40px 0 20px 190px;
    margin-top: 50px;
  }
  &__paragraph {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    min-width: 785px;
  }
  &__paragraphNum {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }
  &__paragraphTitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
  }
  &__paragraphDesc {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: $grey-color;
    max-width: 316px;
  }
}

.autoExamples {
  &__inner {
    margin-bottom: 200px;
  }
  &__sectionHeading {
    margin-bottom: 47px;
  }
}

.splide {
  &__list {
    display: flex;
  }
  &__pagination__custom {
    justify-content: space-evenly;
    align-items: flex-end;
    max-width: 440px;
    top: 110%;
  }
  &__pagination__page__custom {
    width: 50px;
    height: 1px;
    background: $grey-color;
    border-radius: 0%;
    margin: 0;
    opacity: 1;
  }
  &__pagination__page__custom.is-active {
    background: $accent-color;
    height: 3px;
    transform: none;
  }
  &__slide__container {
    padding: 5px 5px 0 5px;
    border: 1px solid $grey-color;
    color: $black-color;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    &:hover {
      background-color: $accent-color;
      color: #fff;
      border: 1px solid $accent-color;
      cursor: pointer;
    }
  }
  &__autoDesc {
    text-align: center;
    padding: 23px 0 11px 0;
  }
  &__autoName {
    margin-bottom: 5px;
  }
}

.about {
  &__inner {
    display: flex;
    // justify-content: center;
    // margin-bottom: 30px;
  }
  &__contacts {
    flex: 50%;
  }
  &__leaveRequest {
    flex: 50%;
    background-color: $main-color;
    color: #fff;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
  &__leaveRequestHeading {
    // margin: 0 auto;
  }
  &__leaveRequestHeadingTitle {
    color: #fff;
  }
  &__leaveRequestHeadingLine {
    background-color: #fff;
  }
  &__contactsHeading {
    margin: 50px 0 65px 0;
  }
  &__info {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: $black-color;
  }
  &__infoBlock {
    margin-bottom: 30px;
  }
  &__infoBlockTitle {
    color: $accent-color;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__formInputWrapper {
    position: relative;
    max-width: 450px;
  }
  &__formInput {
    width: 450px;
    height: 75px;
    // opacity: 0;
    border: 1px solid #fff;
  }
  &__formInputLabel {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
